@import '../../styles/vendors';
.horizontal-scroll-wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 ($grid-gutter-width/2);
    &::-webkit-scrollbar {
        display: none; 
    }
    .cards-wrapper {
        flex: 0 0 auto;
    }
    &::after {
        content: '';
        flex: 0 0 ($grid-gutter-width/2); 
    }
}